
          <div class="smsWidget">
              <div class="swHeader">
              </div>
              <div class="swBody">
                  <div class="swMsgCont swSucess">test</div>
                  <ul>
                      <li><input type="text" class="swMobile" placeholder="Please enter the Mobile no" value="" /></li>
                      <li><textarea class="swMessage"></textarea></li>
                      <li><input type="button" class="smsButton swSend" value="Send" /></li>
                  </ul>
              </div>
              <div class="swFooter">
              </div>
          </div>
